.col-centered{
    float: none;
    margin: 0 auto;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.nav-default {
    background-color: #fff;
    border-color: #fff;
    background-color: black;
}

/*

Pagina inicial

*/

.thumbnail  img{
  width: 100%;
}
/*carrosel transição do banner*/
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 30%;
    margin: auto;
    height: 178px;
}
li.thumbnail {
    width: 200px;
}
